@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    :root{
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
        }
    
    body{
    font-family: 'Outfit', sans-serif;       
    background: var(--Grayishblue); 
    }
    main img{
        max-width: 100%;
           
        border-radius: 1em;    
    }
    
    main{
        width: 22.5vw;
        margin: 10vh auto;
        padding: 1em;
        background: var(--White);
        border-radius: 1em;
    }
    h1{
        color: var(--Darkblue);
        font-size: 1.5em;
        text-align: center;
        padding: 1em 0;
    }
    p{
        color: var(--Grayishblue);
        text-align: center;
        padding: 0em 0em 1em 0em;
    }
     
        .attribution { font-size: 11px; text-align: center; }
        .attribution a { color: hsl(228, 45%, 44%); }
    @media screen and (max-width: 600px) {
        main{
            width: 80vw;}
        h1{
            font-size: 1em;
        }
        p{
            font-size: small;
        }

    }